@import "tailwindcss";

* {
	box-sizing: border-box;
}

html,
body,
#app {
	min-height: 100%;
}

body {
	margin: 0;
	background-color: var(--color-stone-50);
	color: var(--color-stone-900);
}

input,
textarea,
select {
	color: inherit;
}
